<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>global warming</title>
</head>
<body>
    
    <header>
    </header>
    <main>
            <h1>Привет! Здесь ты можешь узнать пару интересных фактов о глобальном потеплении!</h1>
            <a href="/random_fact">Посмотреть случайный факт!</a>'
            <img src="https://avatars.mds.yandex.net/i?id=c4464ec0d12d87d9446be2c9a7905344_l-9181740-images-thumbs&n=13"> 
    </main>


    
</body>
</html>